.{
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
}

header{
  padding: 2% 8%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

header img{
  width: auto;
  height: auto;
}

header li{
  display: inline-block;
  padding: 10px 30px;
}

header ul{
  width: auto;
}

header ul li{
  text-transform: uppercase;
  align-items: center;
  color: black;
}

header ul li a{
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  transition: all 0.3s ease 0s;
}

header ul li a:hover{
  color: #fb5956;
}

header ul li:nth-child(4){
  margin-left: 30px;
  padding: 10px 30px;
  background-color: #fb5859;
  border-radius: 5px;
  border: 2px solid #ffffff;
  
}

header ul li a:nth-child(4){
 color: #ffffff;
}

header ul li:hover:nth-child(4){
  border: 2px solid #fb5859;
  background-color: #fff;
  transition: all 0.3s ease 0s;
}

/* ///--START--hamburger menu--START--/// */
nav{
  display: none;
}
/* ///--END--hamburger menu--END--/// */