@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

body{
  padding: 2% 9%;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo{
  cursor: pointer;
}

#nav_links{
  display: flex;
  justify-content:space-around;
  list-style: none;
  color: #262b48;
  padding: 0 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

#nav_links li{
  display: inline-block;
  padding: 10px 30px;
}

#nav_links ul{
  width: auto;
  width: 100%;
}

#nav_links ul li{
  display: float;
  justify-content: space-evenly;
  text-transform: uppercase;
  align-items: center;
  color: black;
}

#nav_links ul li a{
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  transition: all 0.3s ease 0s;
}

#nav_links ul li a:hover{
  color: #fb5956;
}

#nav_links button{
  margin: 0px 30px;
  text-transform: uppercase;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 6px;
  color: #ffffff;
  font-size: 1.2em;
  border: 2px solid #fb5956;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fb5956;
  transition: all 0.3s ease 0s;
  margin-right: 40px;
}

#nav_links button:hover{
  background-color: #ffffff;
  color: #fb5956;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.308);
}

#intro{
  display:flex;
  padding: 60px 0;
  align-items: center;
}

#intro ul li{
  display: block;
  margin-right: 50px;
}

#intro ul li:nth-child(1){
  font-family: 'Roboto', sans-serif;
  color: #262b48;
  text-transform: capitalize;
  font-size: 3em;
  font-weight: bold;
}

#intro ul li:nth-child(2){
  text-transform: full-size-kana;
  font-family: 'Roboto', sans-serif;
  color: #8f9095;
  font-size: 1.3em;
  padding: 20px 0;
}
#intro button{
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #5266dc;
  transition: all 0.3s ease 0s;
}

#intro button:nth-child(1){
  border: 2px solid #5266dc;
}

#intro button:nth-child(2){
  background-color: #f7f7f8;
  border: 2px solid #f7f7f8;
  color: #5f5e6c;
}

#intro button:nth-child(1):hover{
  color: #5f65a3;
  border: 2px solid #606aa5;
  background-color: #ffffff;
}

#intro button:nth-child(2):hover{
  background-color: #ffffff;
  color: #5f5e6c;
  border: 2px solid #5f616d;
}